
@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');
@import url('https://fonts.googleapis.com/css?family=Castoro');

.main {
    max-width: 1200px;
    min-width: 480px;
    margin: auto;
    background-color: white;
}

.headerLayout {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(210, 27, 27);
    background-color: white;
    border-left: 3px solid rgb(210, 27, 27);
    border-right: 3px solid rgb(210, 27, 27);
    background-color: lightblue;
}

.headerLayout img {
    width: 60px;
    margin-left: 15px;
}

.menuLayout {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.menuLayout a {
    min-width: 60px;
    font-size: 1.5em;
    font-family: sans-serif;
    
    text-align: center;
    color: black;
    border-radius: 5px;
    padding: 4px 20px 4px 20px;
   
}

.sticky-top{    
   position: sticky;
   top: 0;   
}


.menuLayout a:hover {
    color: rgb(224, 224, 10);
    background-color: red;
}

.menuLayout a:active {
    background-color: rgb(162, 130, 130);
}

.menuLayout .selected {
    background-color: rgb(230, 158, 158);
}

.content {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image100 {
    width:100%;
       
}

.content p {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.colonne1{
    float: left;
    width: 40%;
    padding-top: 20px;
    color: rgb(207, 23, 23);
    text-align: center;
    
}

.colonne2{
    float: left;
    width: 59%;
    padding-top: 20px;
    
    border-left: 2px solid rgb(211, 205, 26);
}

.colonne3{
    float: left;
    text-align: center;
    width: 25%;
    border-left: 2px solid red;
   
}

.colonne4{
    float: left;
    text-align: center;
    width: 49%;  
    border-left: 2px solid red;
    
}


.colonne5{
    float: left;
    text-align: center;
    width: 25%;   
    border-left: 2px solid red;
    border-right: 2px solid red;
}
.colonne3 div{
    padding: 125px;
}



.colonne5 div{
    padding: 65px;
}
.colonne4 img{
    width: 50%;
    height: 20%;
    padding: 0px;
}




.colonne2 li {
    padding: 10px;
}

.colonne2 img{
    float: right;
    width: auto;
    border: 2px solid   red;
}

.application{
    text-align: center;
    margin-top: 15px;
    
    font-family: cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline solid rgb(246, 206, 9);
}


.tableauRabais{
    width: 100%;
    border: solid rgb(246, 206, 9);
    text-align: center;
    padding-left: 10px;
}

.tableauRabais td{
    padding-bottom: 20px;
}

.tableauRabais td + td { border-left:2px solid black; }

.tableauRabais img{
    float: left;
    width: 75%;
    padding: 20px;
}

.grid-contenant{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
       
}

.flex-contenant{
    
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;  
    background-color: rgb(219, 122, 122);
}
.flex-contenant img{
    margin: 5px;
    border: 3px solid rgb(246, 206, 9);
}

.mainphoto{

    width: 30%;
    
    border: 5px solid rgb(246, 206, 9);
}

.photobas{
    width: 45%;
    padding-top: 20px;
    float: left;
}

.helplist{
    margin-top: 20px;
    float: right;
    text-align: center;
    width: 50%;
    font-size: 2em;
    border-left: 3px solid rgb(198, 22, 22);
    padding: 10px;
}
.help{
    float: left;
    margin-top: 200px;
    width: 45%;
    
    font-size: 2em;
}

.bot{
    margin-top: 700px;
}
/* media query*/

@media screen and (max-width: 600px) {
    body{
        font-size: 1.5em;;
    }

    .colonnes div{
        width:100%;
    }

    .sticky-top {
        position: static;
        flex-direction: column;
        
    }

    
}